<div class="container">
  <form method="POST" action="/new_comments">
    <div class="input-field">
      <textarea name="content" id="content" class="materialize-textarea">
          
      </textarea>
    </div>
    <div class="card-action">
      <a href="/comments"> <button type="submit" class="btn green">Save</button></a>
      <a href="/comments"> <button  class="btn red">Cancel</button></a>
    </div>
  </form>
</div>
<h1><%= @post_id %> Hello</h1>

